# Renomme ce fichier en .env.local pour le développement local
# (en prod sur Vercel, tu mettras ces valeurs dans Environment Variables)
VITE_FB_API_KEY=ton_api_key_firebase
VITE_FB_AUTH_DOMAIN=ton-projet.firebaseapp.com
VITE_FB_PROJECT_ID=ton-projet
VITE_FB_STORAGE_BUCKET=ton-projet.appspot.com
VITE_FB_SENDER_ID=123456789
VITE_FB_APP_ID=1:123:web:abc
